.image-col {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width:inherit;
}

div.image-wrapper {

}

i.overlay-image {
	position: absolute;
	padding: 10px;
}

.img-rounded {
	margin: 10px;
}